@model DAL.Entities.Comment

<form method="post" action="">
    <div style="text-align: left;" float left;>
        <p>
            <div >
                @if (Model.Time.AddHours(24) >= DateTime.Now)
                {
                    <label>@Model.Time.ToLongTimeString()</label>
                }
                else
                {
                    <label>@Model.Time.ToLongDateString()</label>
                }               
                <label>@Model.Author</label>
                <br/>
                <label>@Model.Text</label>
            </div>
        </p>
    </div>
</form>

<style>
    .brd {
        border: 4px solid #808080; /* Параметры границы */
        background: #fff; /* Цвет фона */
        padding: 10px; /* Поля вокруг текста */
        font-family:
    }
</style>